body{
    margin: 0px;
}
.Heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: burlywood; 
padding:10px 20px ;
}
.anchor-container{
    display: flex;
    gap: 10px;
}
.anchor-container a{
color: black;
text-decoration: none;

}
.anchor-container a:hover{
    color: blue;
    
}